.login.light{
    background: linear-gradient(45deg,var(--primary),#fff);
}
.login.dark{
        background: linear-gradient(45deg,var(--primary),#1a1a1a);
}
.login .input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login .input-container input:first-of-type{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #1a1a1a;
    border: 1px solid #e5e5e5;
}

.login .input-container .label{
    font-weight: bold;
    margin-left: 13px;
}
